.nav__ecommerce{
    height: 50px;
    border: 1px solid rgb(207, 207, 207);
    &--main{
        margin: 0 15px 0 0;
        height: 50px;
    }
    &--link{
        color: rgb(0, 0, 0);
        font-size: 14px;
        &:hover{
            color: #d51234;
        }
        &.active{
            color: #030303;
            font-weight: 700;
            &:hover{
                color: #d51234;
            }
        }
    }
    &--category{
        cursor: pointer;
        border-right: 1px solid rgb(207, 207, 207);
        height: 50px;
        padding: 0 15px;

        &:hover{
            background-color: #d51234;
            color: white;
        }
    }
    &--label{
        display: block;
        margin-left: 5px !important;
        position: relative;
        top: 1px;
    }
}

