* {
  margin: 0; padding: 0;
}

.app .app__container{
  max-width: 1000px;
  margin: 0 auto;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

.headert-top{
    position: fixed;
    left: 0;
    right: 0;
    height: 90px;
    z-index: 99;
    background-color: white;
}